<div class="row my-3">
  <h1 translate>trans-panel.title</h1>
</div>
<div class="row my-5">
  <div class="col-md-6">
    <app-account-card-component
      [cardTitle]="'trans-panel.src-title'"
      [accounts]="accounts"
      (selected)="srcAccountId = $event?.id ?? null; checkAccount()"
    />
  </div>
  <div class="col-md-6">
    <app-account-card-component
      [cardTitle]="'trans-panel.trg-title'"
      [accounts]="accounts"
      (selected)="trgAccountId = $event?.id ?? null; checkAccount()"
    />
  </div>
</div>
<div class="row my-5">
  <div class="col-md-12">
    <div class="mb-3">
      <label for="amount" class="form-label" translate>
        trans-panel.amount-label
      </label>
      <input
        type="text"
        class="form-control"
        id="amount"
        name="amount"
        placeholder="0.00"
        [value]="amount"
        (input)="onAmountInput($event)"
        [disabled]="invTransaction"
      />
      <div
        class="form-text alert alert-danger"
        role="alert"
        [hidden]="!exceedBalance"
        translate
      >
        trans-panel.exceed-balance
      </div>
    </div>
    <button
      type="button"
      class="btn btn-success btn-md"
      [disabled]="invTransaction || exceedBalance"
      (click)="createTransaction()"
      translate
    >
      trans-panel.btn-accept
    </button>
  </div>
</div>
